body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: #223;
  height: 100vh;
}

.App__viewport {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Image {
  display: block;
  width: 100%;
  max-width: 500px;
}

.Menu {
  background-color: #0006;
}

.Menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.Menu li {
  flex-grow: 1;
}

.Menu__link {
  display: block;
  padding: 1em;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

.Menu__link:hover {
  background-color: #146;
}

.Menu__link--active {
  background-color: #146;
}
